.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App h1 {
  font-family: Gotham XNarrow Black;
  letter-spacing: 0.02em;
  text-align: center;
}

.App
h2,
h3,
h4,
h5,
h6 {
  font-family: Gotham XNarrow Medium;
}

.App p {
  font-family: Apercu Regular Pro;
}

.navbar-default .navbar-header .navbar-brand {
  font-family: Gotham XNarrow Black;
  font-size: 24px;
  color: #777;
}

.navbar-default a {
  color: #777;
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }

  .navbar-default .navbar-header .navbar-brand {
    color: white;
  }

  .navbar-default a {
    color: white;
  }

  .menu-list {
    padding-top: 50px;
  }
}

.section-greeting {
  height: 100vh;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  background: #e40421 no-repeat center top;
  color: white;
}

.btn-generate {
  margin-top: 20px;
}

.section-meal {
  color: #222;
  background: white;
  margin-top: 200px;
  padding-top: 50px;
}

.menu-list {
  padding-top: 25px;
}

.media {
  display: inline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
