.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App h1 {
  font-family: Gotham XNarrow Black;
  text-align: center;
}

.App
h2,
h3,
h4,
h5,
h6 {
  font-family: Gotham XNarrow Medium;
}

.App p {
  font-family: Apercu Regular Pro;
}

.navbar-brand {
  font-family: Gotham XNarrow Black;
  font-size: 24px;
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
}

.section-greeting {
  padding-top: 200px;
  text-align: center;
}

.btn-generate {
  margin-top: 20px;
}

.section-meal {
  padding: 500px 0px 500px 0px;
}

.media {
  display: inline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
